{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "camelcase": [0, {"properties": "always"}],
    "quote-props": [2, "as-needed", { "keywords": true, "unnecessary": false }],
    "react/sort-comp": [0],
    "no-undef": [0],
    "func-names": [0]
  }
}
